.modal{
    background: green;
    &Center{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%s);
    }
    &Bottom{
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }
    &Top{
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }
}


.modal

.modalInner{
    background: green;
}